.form {
	border-style: solid;
	border-color: #88019F;
	padding: 10px;
	border-radius: 7.5px;
}

.form-body {
	display: flex;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	background-color: #060606ec;
}

.password {
	display: flex;
	justify-content: center;
	align-items: center;
}
